<div ng-controller="PersonCtrl" class="box-single">
  <div class="box">
    <div ng-include="'/templates/floors/person.ng.html'"></div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pièces</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="a in a.person.affectations"><a href="{{a.room.url}}">{{a.room.fullname}}</a> - {{a.room.room_type.name}} - {{$root.geoP.displayArea(a.room.area)}}</li>
      </ul>
    </div>
  </div>
</div>
