<div ng-if="$root.userType === 'ADMIN' && uploader">
  <div>
    <a href="/companies/{{::company.id}}/export_template">{{::i18n.ui.home.import_template}}</a>
  </div>
  <br/>
  <div class="form-group">
    <label>Fichier Excel</label>
    <input type="file" nv-file-select uploader="uploader"/><br/>
  </div>
  <ol>
    <li ng-repeat="item in uploader.queue">
      <span ng-bind="item.file.name"></span>
      <button class="btn btn-default" ng-click="item.upload()">Importer</button>
      <span ng-show="item.file.error" class="btn-danger notification-message" ng-bind="item.file.error"></span>
      <span ng-show="item.file.ok" class="btn-success notification-message" ng-bind="item.file.ok"></span>
    </li>
  </ol>
</div>
