<table class="box-details">
  <tr>
    <th>{{::i18n.information.number_of_rooms}}</th>
    <td><span class="animated fadeIn" ng-if="information[buildingId].numberOfRooms !== undefined">{{information[buildingId].numberOfRooms}}</span></td>
  </tr>
  <tr>
    <th>{{::i18n.information.number_of_people}}</th>
    <td><span class="animated fadeIn" ng-if="information[buildingId].numberOfPeople !== undefined">{{information[buildingId].numberOfPeople}}</span></td>
  </tr>
  <tr>
    <th>{{::i18n.information.number_of_freedesks}}</th>
    <td><span class="animated fadeIn" ng-if="information[buildingId].numberOfFreeDesk !== undefined">{{information[buildingId].numberOfFreeDesk}}</span></td>
  </tr>
  <tr>
    <th>{{::i18n.information.total_area}}</th>
    <td><span class="animated fadeIn" ng-if="information[buildingId].totalArea !== undefined">{{information[buildingId].totalArea}} m&#178;</span></td>
  </tr>  
</table>
