<table class="box-details">
  <tr>
    <th>{{::i18n.information.number_of_rooms}}</th>
    <td><span class="animated fadeIn" ng-if="information.numberOfRooms !== undefined">{{information.numberOfRooms}}</span></td>
  </tr>
  <tr>
    <th>{{::i18n.information.number_of_people}}</th>
    <td><span class="animated fadeIn" ng-if="information.numberOfPeople !== undefined">{{information.numberOfPeople}}</span></td>
  </tr>
  <tr>
    <th>{{::i18n.information.number_of_freedesks}}</th>
    <td><span class="animated fadeIn" ng-if="information.numberOfFreeDesk !== undefined">{{information.numberOfFreeDesk}}</span></td>
  </tr>
  <tr>
    <th>{{::i18n.information.total_area}}</th>
    <td><span class="animated fadeIn" ng-if="information.totalArea !== undefined">{{information.totalArea}} m&#178;</span></td>
  </tr>  
</table>
