<div class="panel panel-default panel-map" ng-repeat="f in floorsByBuildingId[buildingId]" fullscreen="editor.isFullscreen" ng-class="{'map-fullscreen':editor.isFullscreen}">
  <ul class="map-split-vertical">
    <li style="background-color: {{::$root.building_colors[buildingId]}}">
      <div class="panel-title">
        <h3 class="panel-title"><a href="{{f.url}}">Plan {{f.fullname}}</a></h3>
        <div ng-include="'/templates/floors/options.ng.html'" class='map-options-zone'></div>
      </div>
    </li>
    <li>
      <ul class="map-split-horizontal">
        <li>
          <div class="resizable-svg" ng-class="['shift-' + isShift, 'mode-' + mapMode, 'ctrl-' + isZKeyDown]" ng-show="f.id !== undefined">
          <svg data-floor-id="{{f.id}}" data-building-id="{{buildingId}}" id="map-{{f.id}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink" version="1.1" ng-class="[mode,'shift-' + isShift, 'mode-' + mapMode, 'ctrl-' + isZKeyDown]" setup-editor/>
        </div>
      </li>
      <li>
        <div ng-include="'/templates/floors/room.ng.html'" ng-if="item === undefined"></div>
        <div ng-include="'/templates/items/item.ng.html'" ng-if="item !== undefined"></div>
      </li>
    </ul>
  </li>
</ul>
</div>
