<div ng-controller="PeopleCtrl"  ng-cloak>
  <h1>Annuaire des personnes</h1>
  <input type="text" ng-model="query" class="search-query-items" placeholder="Rechercher dans l'annuaire des personnes">
  <div class="boxes people">
  <div class="box" ng-repeat="a in people | filter:personFilter">
    <%= render '/floors/person' %>
  </div>
  </div>
</div>

