<div ng-controller="PersonCtrl" class="box-single">
  <div class="box">
    <%=  render '/floors/person' %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pièces</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="a in a.person.affectations"><a href="{{a.room.url}}">{{a.room.fullname}}</a> - {{a.room.room_type.name}} - {{a.room.area_unit}}</li>
      </ul>
    </div>
  </div>
</div>
