<div ng-controller="CubyController" ng-cloak>
  <ul id="CubyContainer">
    <li class="CubyMenu">
      <div ng-repeat="buildingId in buildings">
        <%= render '/floors/filters' %>
      </div>
    </li>
    <li id="CubyWebGL">&nbsp;</li>
  </ul>
</div>
