<div ng-include="'/templates/floors/information.ng.html'"></div>
<table class="box-details box-details-organizations">
  <tr >
    <th>{{::i18n.ui.information.ratio_affectations}}</th>
    <td><span  class="animated fadeIn" ng-if="information[buildingId].ratio !== undefined">{{information[buildingId].ratio}} {{::i18n.ui.units.ratio_meter_by_people}}</span></td>
  </tr>
  <tr>
    <th>{{::i18n.ui.information.presence_on_number_of_floors}}</th>
    <td><span class="animated fadeIn"  ng-if="information[buildingId].numberOfFloors !== undefined">{{information[buildingId].numberOfFloors}}</span></td>
  </tr>
</table>
