<div ng-controller="OrganizationController" style="border:1px solid {{o.color}}">
  <div class="jumbotron-surfy" style="background-color: {{o.color}}">
    <h2>{{o.name}}</h2>
  </div>
  <h3 ng-if="noRoomsForOrganization === true">Il n'y a pas de pièce disponible pour cette organisation.</h3>
  <uib-tabset justified="true" type="pills" class="nav" role="tablist">
  <uib-tab ng-repeat="buildingId in buildings_id" active="tab.active" heading="{{o.data.buildings[buildingId].name}}" ng-click="onBuildingClick(buildingId)">
  <div ng-include="'/templates/common/tabs_main.ng.html'"></div>
  <br/>
  <div ng-include="'/templates/floors/map_editor.ng.html'"></div>
  </uib-tab>
  </uib-tabset>
</div>
