<script>
 var G_BuildingJson = <%=@G_Building.html_safe%>
</script>
<div ng-controller="BuildingCtrl">
<div class="jumbotron"><h2>{{building.name}}</h2></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Accès direct aux étages</h3>
  </div>
  <div class="panel-body">
<ul>
  <li ng-repeat="f in building.floors"><a href="{{f.url}}">{{f.name}}</a></li>
</ul>
  </div>
</div>


    <%=  render '/floors/map_editor' %> 


</div>
