<div ng-controller="CompanyCtrl" class="home">
  
  <div ng-repeat="c in companies">
    <h1> {{c.name}}</h1>
    <div ng-repeat="b in c.buildings">
      <h2>{{b.name}}</h2>
    </div>
  </div>

<div>