<div ng-controller="CompanyCtrl" class="home">
    <!-- <h1> {{company.name}}</h1> -->
    <div ng-repeat="b in company.buildings">
      <h2><a href="{{b.url}}">{{b.name}}</a></h2>
      <ul>
        <li ng-repeat="f in b.floors"><a href="/floors/{{f.id}}">{{f.name}}</a></li>
      </ul>


      <h2>Directions</h2>
      <ul>
        <li ng-repeat="o in organizations"><a href="/organizations/{{o.id}}">{{o.name}}</a>

<!--       <ul>
        <li ng-repeat="o1 in o.organizations"><a href="{{o1.url}}">{{o1.name}}</a>
        </li>
      </ul>
 -->
        </li>
      </ul>
    </div>



<div>


