<div ng-controller="CompanyCtrl" class="home">
  <div class="buildings">
    <div ng-repeat="b in company.buildings" class="building animated flipInY" style="background-color: {{b.color}}">
      <h2><a href="{{b.url}}">{{b.name}}</a></h2>
      <ul>
        <li ng-repeat="f in b.floors"><a href="/floors/{{f.id}}">{{f.name}}</a></li>
      </ul>
    </div>
  </div>
  <div ng-if="organizations.length > 0">
    <h2>Directions</h2>
    <ul>
      <li ng-repeat="o in organizations"><a target="_self" href="/organizations/{{o.id}}">{{o.name}}</a></li>
    </ul>
  </div>
  <hr>
  <a href="{{company.url}}/export" download>Exporter l'ensemble des bâtiments</a>
</div>
