<!--
<div class="panel panel-default affectations">
  <div class="panel-heading">
    <h3 class="panel-title">Affectations</h3>
  </div>
  <div class="panel-body">
  </div>
</div>
-->
<div ng-if="room.json.affectations.length > 0">
  <h3 class="title">Affectations</h3>
  <ul class="people">
    <li ng-repeat="a in room.json.affectations">
      <%=  render '/floors/person' %>
      <hr>
    </li>
  </ul>
</div>
