<div  class="filter-container" ng-controller="FiltersCtrl">
  <ul id="myTabChart" class="nav nav-pills nav-justified" role="tablist" >
    <li ng-repeat="filter in filterNames" ng-class="{active : $first}">
      <a href="#{{filter.name}}_chart" ng-click="chartPaneClick(filter, buildingId);" >{{filter.label}}</a>
    </li>
  </ul>
  <div class="tab-content">
    <div ng-controller="ChartsCtrl">
      <div id="chart_div_{{buildingId}}" class="chart_div" ng-if="chart !== null"></div>
    </div>
  </div>
</div>
