<div class="filter-container" ng-controller="ChartController">
  <ul id="myTabChart" class="nav nav-pills nav-justified" role="tablist" >
    <li ng-repeat="filter in filterNames" ng-class="{active : $first}" ng-if="f[buildingId][filter.name].filters.sortedNames.length > 0">
      <a href="#{{filter.name}}_chart_{{buildingId}}" ng-click="chartPaneClick(filter, buildingId);" data-toggle="tab">{{filter.label}}</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="chart-zone">
    <!-- chart : {{chart}} -->
      <div id="chart_div_{{buildingId}}" class="chart_div"></div>
    </div>
  </div>
</div>
