<div  class="filter-container" ng-controller="FiltersCtrl" >
  <ul id="myTabFilter" class="nav nav-pills nav-justified" role="tablist" >
    <li ng-repeat="filter in filterNames" ng-class="{active : $first}">
      <a href="#{{filter.name}}_filter" ng-click="filterPaneClick(filter, buildingId);" >{{filter.label}}</a>
    </li>
  </ul>
  <div class="tab-content" >
    <div class="tab-pane" ng-class="{active : $first, in : $first}" id="{{filter.name}}_filter" ng-repeat="filter in filterNames" >
      <form class="form-horizontal">
        <ul class="filters">
          <li class="animated flipInX ">
            <div class="checkbox check-all color-filter ">
              <ul class="filter-zone">
                <li class="selection-checkbox">  <input type="checkbox" ng-model="f[filter.name].checkAll" ng-change="f[filter.name].CheckAll()"></li>
                <li class="selection-name">
                  <label>
                    <span ng-if="f[filter.name].checkAll == true">Tout décocher</span>
                    <span ng-if="f[filter.name].checkAll == false">Tout cocher</span>
                  </label>
                </li>
              </ul>
            </div>
          </li><li ng-repeat="(id, rt) in f[filter.name].filters.names" class='color-filter animated flipInX'>
          <div class="checkbox" style="background-color: {{rt.color}}">
            <ul class="filter-zone">
              <li class="selection-checkbox"><label><input type="checkbox" ng-model="rt.state" ng-change="f[filter.name].filterStateChange(rt)">
            </li>
            <li class="selection-organization" ng-if="filter.name === 'organization'"><a href="/organizations/{{id}}" class="filter-open-icon"><i class="fa fa-info-circle"></i></a></li>
            <li class="selection-name">{{f[filter.name].filters.names[id].name}}</li>
            <li class="filter-kpis"><span title="Aire" class="badge ">{{f[filter.name].filters.values[id].areaSum}} m²</span><span ng-if="f[filter.name].filters.values[id].count > 0" title="Nombre de pièces" class="badge ">{{f[filter.name].filters.values[id].count}} <i class="fa fa-codepen"></i></span><span ng-if="f[filter.name].filters.values[id].nbPeople > 0" title="Nombre de personnes" class="badge ">{{f[filter.name].filters.values[id].nbPeople}} <i class="fa fa-user"></i></span><span ng-if="f[filter.name].filters.values[id].ratio > 0" title="Ratio m&#178; / personnes" class="badge ">{{f[filter.name].filters.values[id].ratio}} <i class="fa fa-user"></i> / m&#178;</span>
            </li>
          </ul>
          <!-- <span class="badge ">{{f[filter.name].filters.values[id].perimeterSum}} m</span> -->
        </label>
      </div>
    </li>
  </ul>
</form>
</div>
</div>
</div>
