<div ng-controller="OrganizationFilterCtrl">
<form class="form-horizontal">

<ul class="filters">
  <li class=" check-all">
  <div class="checkbox">
    <label><input type="checkbox" ng-model="checkAll" ng-change="CheckAll()"><span ng-if="checkAll == true">Tout décocher</span><span ng-if="checkAll == false">Tout cocher</span></label>
  </div>

  </li>
  <li ng-repeat="(id, rt) in filters" style="background-color: {{rt.color}}">

  <div class="checkbox">
    <label><input type="checkbox" ng-model="rt.state" ng-change="filterStateChange(rt)">{{rt.name}}</label>
  </div>

    </li>
</ul>
</form>
</div>
