<div ng-controller="OrganizationFilterCtrl">
<form class="form-horizontal">

<ul class="filters">
  <li class=" check-all">
  <div class="checkbox">
    <label><input type="checkbox" ng-model="checkAll" ng-change="CheckAll()"><span ng-if="checkAll == true">Tout décocher</span><span ng-if="checkAll == false">Tout cocher</span></label>
  </div>

  </li>
  <li ng-repeat="(id, rt) in filters" style="background-color: {{rt.color}}">


  <div class="checkbox">
    <label><input type="checkbox" ng-model="rt.state" ng-change="filterStateChange(rt)">{{rt.name}}</label>
  </div>


<!--   <ul>
<li ng-repeat="(id2, o2) in rt.organizations" style="background-color: {{o2.color}}">


  <div class="checkbox">
    <label><input type="checkbox" ng-model="o2.state" ng-change="filterStateChange(o2)">{{o2.name}}</label>
  </div>
    </li>

  </ul>
 -->

    </li>
</ul>
</form>
</div>
