<div ng-controller="RoomTypesFilterCtrl">
<form class="form-horizontal">

<ul class="filters nav nav-pills nav-stacked">
  <li class=" check-all">
  <div class="checkbox">
    <label><input type="checkbox" ng-model="checkAll" ng-change="CheckAll()"><span ng-if="checkAll == true">Tout décocher</span><span ng-if="checkAll == false">Tout cocher</span></label>
  </div>

  </li>
  <li ng-repeat="(id, rt) in filters" style="background-color: {{rt.color}}">

  <div class="checkbox">
    <label><input type="checkbox" ng-model="rt.state" ng-change="filterStateChange(rt)"> 
    <span class="badge pull-right">{{rt.areaSum}} m²</span>
    <span class="badge pull-right">{{rt.count}}</span>
    {{rt.name}}&nbsp;
    </label>
  </div>
    </li>
</ul>
</form>
</div>
