<div class="panel panel-default panel-room" ng-if='room != null'>
  <div class="panel-heading">
    <h3 class="panel-title">{{room.json.name}}</h3>
    <a class="btn btn-default" href="/admin/rooms/{{room.json.id}}/edit">Modifier la pièce <i class="fa fa-edit"></i></a>
  </div>
  <div class="panel-body">
      <table class='room'>
    <tr>
      <th>Nom</th><td>{{room.json.name}}</td>
    </tr>
    <tr>
      <th>Type</th><td>{{room.json.room_type.name}}</td>    
    </tr>
    <tr>
      <th>Surface</th><td>{{room.json.area_unit}}</td>
    </tr>
    <tr>
      <th>Nature des sols</th><td >{{room.json.room_ground_type.name}}</td>
    </tr>
    <tr>
      <th>Organisation</th><td>{{room.json.organization.name}} <i ng-if="room.json.organization.organization_type.name">[{{room.json.organization.organization_type.name}}]</i></td>      
    </tr>
    <tr ng-if="room.json.network.length > 0">
      <th>Ports Réseau</th><td ><ul class="network"><li ng-repeat="n in room.json.network.split('\r\n')">{{n}}</li> </ul></td>
    </tr>
    <tr ng-if="room.json.affectations.length > 0">
      <th>Ratio Affectations</th><td>{{room.json.ratio}} personnes / m²</td>      
    </tr>

  </table>


  <%=  render 'affectations' %> 
  <%=  render 'inventories' %> 



  </div>
</div>




  
