
<div class="panel panel-default panel-room" ng-if='room != null'>
  <div class="panel-heading">
    <h3 class="panel-title">{{room.json.name}}</h3>
    <a class="btn btn-default" href="/admin/rooms/{{room.json.id}}/edit">Modifier la pièce <i class="fa fa-edit"></i></a>
  </div>
  <div class="panel-body">
      <table class='room'>
    <tr>
      <th>Nom</th><td>{{room.json.name}}</td>
      <th>Type</th><td>{{room.json.room_type.name}}</td>    
    </tr>
    <tr>
      <th>Surface</th><td>{{room.json.area}} m²</td>
      <th>Organization</th><td>{{room.json.organization.name}} [{{room.json.organization.organization_type.name}}]</td>      
    </tr>
    <tr>
      <th>Nature des sols</th><td colspan="3">{{room.json.room_ground_type.name}}</td>
      <!-- <th>Organization</th><td>{{room.json.organization.name}} [{{room.json.organization.organization_type.name}}]</td>       -->
    </tr>

  </table>

  <h4>Affectations</h4>
  <div ng-repeat="p in room.json.people" class="thumbnail">
    <!-- <img src="/assets/person.png"/> -->
    <div class="caption">
      <h3>{{p.fullname}}</h3>
      <p>
      Etat: {{p.person_state.name}}</br>
      Tél: {{p.format_telephone}}</br>
      Por: {{p.format_cellphone}}</br>
      Ordinateur: {{p.computerreference}}</br>
      Ecran: {{p.monitorreference}}
      </p>

    </div>
  </div>

  </div>
</div>




  
