
<div class="panel panel-default panel-room" ng-if='room != null'>
  <div class="panel-heading">
    <h3 class="panel-title">{{room.json.name}}</h3>
    <a class="btn btn-default" href="/admin/rooms/{{room.json.id}}/edit">Modifier la pièce <i class="fa fa-edit"></i></a>
  </div>
  <div class="panel-body">
      <table class='room'>
    <tr>
      <th>Nom</th><td>{{room.json.name}}</td>
      <th>Type</th><td>{{room.json.room_type.name}}</td>    
    </tr>
    <tr>
      <th>Surface</th><td>{{room.json.area_unit}}</td>
      <th>Organization</th><td>{{room.json.organization.name}} [{{room.json.organization.organization_type.name}}]</td>      
    </tr>
    <tr>
      <th>Nature des sols</th><td >{{room.json.room_ground_type.name}}</td>
      <th>Ratio Affectations</th><td>{{room.json.area / room.json.affectations.length}} m² / personnes</td>      
    </tr>

  </table>


  <div ng-if="room.json.affectations.length > 0">


<div class="panel panel-default affectations">
  <div class="panel-heading">
    <h3 class="panel-title">Affectations</h3>
  </div>
  <div class="panel-body">
    <ul class="people">
      <li ng-repeat="a in room.json.affectations">
        <%=  render 'person' %> 
      </li>
    </ul>
  </div>
</div>

  </div>


  </div>
</div>




  
