<div keepscrolltop class="home" ng-controller="FloorMapCtrl">
  <div ng-show="loading" class="loading"><img alt="chargement..."></div>
  <div ng-show="!loading">
    <div class="jumbotron"  style="background-color: {{bgColor[buildingId]}}">
      <h2><a href="{{floorJson.building.url}}">{{floorJson.building.name}}</a></h2>
      <h2>> <a href="{{floorJson.url}}">{{floorJson.name}}</a></h2>
    </div>
    <div ng-repeat="buildingId in buildings">
    
    <%= render 'filters' %>
    <%= render 'display_text' %>
    
    <%= render '/floors/map_editor' %>
    <%= render 'room' %>
    </div>
  </div>
</div>
