<div keepscrolltop>

  <div class="jumbotron" ng-controller="FloorHeaderCtrl">
  <h2><a href="{{floorJson.building.url}}">{{floorJson.building.name}}</a></h2>
  <h2>> <a href="{{floorJson.url}}">{{floorJson.name}}</a></h2>
  <h2 ng-if="roomJson.id">room{{roomId}}</h2>
  </div>
  
  <%= render 'filters' %> 
  <%= render 'display_text' %> 
  
  <div class="home" ng-controller="FloorMapCtrl">
    <%= render '/floors/map_editor' %> 
    <%= render 'room' %>
  </div>
  

</div>
