<form class="navbar-form navbar-right">
	<input name="globalSearch" id="globalSearch" type="text" class="form-control" ng-change="search()" ng-model="globalSearch" placeholder="Rechercher..." ng-class="{invalid:results.length == 0}">
	<ul class="search-results">
		<li ng-repeat="p in results.people"><i class="fa fa-user"></i> <a href="{{p.url}}">{{p.fullname}}</a></li>
		<li ng-repeat="r in results.rooms"><i class="fa fa-codepen"></i>  <a href="{{r.url}}">{{r.fullname}}</a></li>
		<li ng-repeat="r in results.floors"><i class="fa fa-delicious"></i>  <a href="{{r.url}}">{{r.fullname}}</a></li>  <li ng-repeat="r in results.organizations"><i class="fa fa-sitemap"></i>  <a href="{{r.url}}">{{r.name}}</a></li>
	</ul>
</form>
