<form class="navbar-form">
  <input name="globalSearch" id="globalSearch" type="text" class="form-control" ng-change="search()" ng-model="$root.globalSearch" placeholder="Rechercher..." ng-class="{invalid:results.length == 0}">
  <ul class="search-results">
    <li ng-repeat="p in results.people"><i class="fa fa-user"></i><a data-value="{{p.fullname}}" global-search-replace href="{{p.url}}">{{p.fullname}}</a></li>
    <li ng-repeat="r in results.rooms"><i class="fa fa-codepen"></i><a data-value="{{r.fullname}}" global-search-replace href="{{r.url_with_floor}}">{{r.fullname}}</a></li>
    <li ng-repeat="r in results.floors"><i class="fa fa-delicious"></i> <a data-value="{{r.fullname}}" global-search-replace href="{{r.url}}">{{r.fullname}}</a></li>
    <li ng-repeat="r in results.organizations"><i class="fa fa-sitemap"></i><a data-value="{{r.name}}" global-search-replace href="{{r.url}}">{{r.name}}</a></li>
  </ul>
</form>
