  <div  ng-controller="GeoPCtrl">

  <div class="options">
    <ul>
      <li ng-repeat="b in buttons"><button ng-click="b.action()">{{b.label}}</button></li>

    </ul>
    <ul>
      <li ng-repeat="b in currentOptions"><button ng-click="b.action()">{{b.label}}</button></li>
    </ul>
    <ul>
      <li>
       <label for="scale">scale</label> <input name="scale" type="number" value="camera.scale" ng-model="camera.scale" ng-change="applyTransform()" step="0.1" min="0"/>
      </li>
      <li>
       <label for="x">x</label> <input name="x" type="number" value="camera.x" ng-model="camera.x" ng-change="applyTransform()" step="10"/>
      </li>      
      <li>
       <label for="y">y</label> <input name="y" type="number" value="camera.y" ng-model="camera.y" ng-change="applyTransform()" step="10"/>
      </li>            
    </ul>

  </div>


   <!-- <input type="file" ng-file-select="onFileSelect($files)" id="upload-file"/> -->


   <div ng-show="importBackground == true">
    <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="dropbox-drag" class="dropbox">drop files here</div>
   </div>


  <svg id="main" ng-class="[mode, 'shift-' + isShift]" />

  <div>
    <h2>Informations</h2>
    <table class="info">
      <tr>
        <th>Nom</th><td>{{room.name}}</td>
      </tr>
      <tr>
        <th>Métrage</th><td>22 m²</td>
      </tr>
      <tr>
        <th>Organisation</th><td>Comptabilité</td>
      </tr>
    </table>

    <h2>Occupants</h2>

    <table class="info inventaire">
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Téléphone</th>
        <th>Organisation</th>
      </tr>
      <tr>
        <td>Jean</td>
        <td>Dubois</td>
        <td>01 43 44 85 02</td>
        <td>Comptabilité</td>
      </tr>
    </table>

    <h2>Inventaire</h2>

    <table class="info inventaire">
      <tr>
        <th>Famille</th>
        <th>Nom</th>
        <th>Référence</th>
        <th>Quantité</th>
      </tr>
      <tr>
        <td>Mobilier</td>
        <td>Petit casier avec clef</td>
        <td>MOB2</td>
        <td>1</td>
      </tr>
    </table>

    <h2>Interventions</h2>

    <table class="info inventaire">
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>22/04/2014</td>
        <td>Luminaire</td>
        <td>Changment d'un neon</td>
      </tr>
    </table>

    <br>
    <br>


  </div>

  


  <!-- <img ng-if="importBackgroundImage != null" src="{{importBackgroundImage}}"/> -->
</div>