  <div class="options">
    <ul>
      <li ng-repeat="b in buttons"><button ng-click="b.action()">{{b.label}}</button></li>

    </ul>
    <ul>
      <li ng-repeat="b in currentOptions"><button ng-click="b.action()">{{b.label}}</button></li>
    </ul>

  </div>
  <svg id="main" ng-class="[mode, 'shift-' + isShift]"/>