<div class="panel panel-default">
  <div class="panel-heading" style="background-color: {{::$root.building_colors[buildingId]}}">
    <h3 class="panel-title">{{::i18n.ui.buildings.options.operations}}</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li><a href="/buildings/{{building.id}}/duplicate">{{::i18n.ui.buildings.options.duplicate_building}}</a></li>
      <li><a href="{{building.url}}/export">{{::i18n.ui.buildings.options.export_building}}</a></li>
    </ul>
  </div>
</div>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">{{::i18n.ui.buildings.options.danger_zone}}</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li><a ng-click="deleteBuilding()">{{::i18n.ui.buildings.options.delete_building}}</a></li>
    </ul>
  </div>
</div>
