ul.display-text{
    margin: 0;
  padding: 0;

  & > li{
    background-color: #eee;
    border-radius: 0;
    display: inline-block;
    line-height: 27px;
    padding: 4px;
    vertical-align: top;

    .checkbox{
      padding: 0;
    }

  }
}
