// Place all the styles related to the floors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.options {
  & > ul {
    margin: 0px;
    padding: 0px;
    li{
      margin-right: 5px;
    }
  }
  margin-bottom: 5px;
}

svg.mode-show{
  polygon:hover{
    cursor: pointer;
  }
}