// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-query-items {
    width: 404px;
    margin: 2px;
}

.highlighted {
    background-color: #E60132;
    color: white;
    border-radius: 16px;
    padding: 4px;
}

div.items {
    div.box {
        tr.description {
            th {
                display: none;
            }
        }
    }
    hr.inventory-separator {
        display: none;
    }
}

div.boxes.items{
    img.qrcode{
        width: 60px;
    }
}

ul.inventories-in-room {
    margin: 0;
    padding-left: 15px;
}

.box {
    table.box-details {
        tr.center {
            th {
                text-align: center;
            }
        }
    }
}

table.inventory {
    width: 100%;
    border-collapse: collapse;
    tr {
        & > th.inventory {
            text-align: center;
        }
        th, td {
            padding: 4px;
            border: 1px solid #eee;
        }
        .inventory-room {
            text-align: right;
        }
        .inventory-price {
            width: 45%;
            text-align: left;
        }
        .inventory-quantity {
            width: 10%;
            text-align: center;
        }
    }
}

div.inventory {
    h3 {
        margin: 0;
        padding: 5px;
    }
    margin-bottom: 10px;
    &.noprice {
        .inventory-quantity {
            width: 50%;
            text-align: left;
        }
    }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
    .search-query-items {
        margin: 0;
    }
}

@media screen and (min-width: 240px) and (max-width: 639px) {
    .search-query-items {
        margin: 0;
    }
    table.inventory {
        tr {
            .inventory-price {
                width: 20%;
                text-align: center;
            }
        }
    }
}
