body {
  // margin: 0px;
  // padding:0px;
  // text-align: center;
}

body, label, button, input, #upload-file, input[type="file"]{
    font-family: arial;
    font-size:14px;
}

svg#main{
  border:2px solid #1dc8fe;
  width:100%;
  margin:0px auto;
  height:400px;

  &.create:hover{
    cursor: crosshair;
  }
  &.shift-true{
    border: 2px dotted #00e567;  
    opacity: 0.95;  
  }
  &.ctrl-true{
    border: 2px dotted red;  
    opacity: 0.95;  
  }  
}

div.dropbox{
  border: 1px dotted green;  
  height: 60px;
  line-height: 60px;
  &.dropbox-drag{
    border: 1px solid green;  
  }
}

div.options{
  text-align: left;
  > ul{
    display: inline-block;
    margin: 0px;
    li{
      display: inline-block;
    }
  }  
}

table.info{
  width:400px;
  margin:0px auto;
  border:1px solid blue;
  border-collapse: collapse;

  td,th,&{
    border:1px solid blue;
  }
}

table.inventaire{
  width:800px;
  th{
    text-align: center;
  }
}

div.properties{
  text-align: left;
}

h2{
  margin:20px;
  // text-align: left;
}

.navbar{
  margin-bottom: 0;
}

.main-container{
  // margin-top:51px;
}

a.logo{
  float:left;
  margin-right: 20px;
 &, img{
    width: 36px;
  height: 36px;
 }
 img{
    margin:5px;
 }
}

#notifications{
  position: fixed;
  top:0;
  right: 0;
  font-size: 12px;
  margin: 0;
  padding: 0;
  z-index: 1031;
  li{
    list-style: none;
    padding: 10px;
  }
  li.done{
    background-color: #57cc64;
  }
}



