// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table.room{
  width:100%;
  margin-top:0;
  border-collapse: collapse;

  th, td, &{
    border:1px solid #eee;
  }
  th, td{
    padding: 5px;
    width: 25%;
  }
  th{
    text-align: right;
    padding-right: 15px
  }
  td{
    text-align: left;
    padding-left: 15px;
  }
}