<table class="room">
  <tr>
    <th>Nombres de piéces</th>
    <td>{{filter[buildingId].count}}</td>
  </tr>
  <tr>
    <th>Surface occupée</th>
    <td>{{filter[buildingId].areaSum}} m²</td>
  </tr>
  <tr ng-if="filter[buildingId].nbPeople > 0">
    <th>Nombre de personnes</th>
    <td>{{filter[buildingId].nbPeople}}</td>
  </tr>
  <tr ng-if="filter[buildingId].ratio > 0">
    <th>Ratio affectations</th>
    <td>{{filter[buildingId].ratio}} m&#178; / personnes</td>
  </tr>
  <tr ng-if="filter[buildingId].ratio > 0">
    <th>Présence sur nombre d'étages</th>
    <td>{{floorsByBuildingId[buildingId].length}}</td>
  </tr>
</table>
