<div ng-controller="OrganizationCtrl">
  <div class="jumbotron" style="background-color: {{o.color}}">
    <h2>{{o.name}}</h2>
  </div>
  <ul id="myTab-0" class="nav nav-pills nav-justified" role="tablist" >
    <li ng-repeat="buildingId in buildings" ng-class="{active : $first}" style="background-color: {{buildingsById[buildingId].color}}">
      <a href="#b{{buildingId}}"><h3>{{buildingsById[buildingId].name}}</h3></a>
    </li>
  </ul>
  <div class="tab-content" >
    <div class="tab-pane fade" ng-class="{active : $first, in : $first}" id="b{{buildingId}}" ng-repeat="buildingId in buildings">
    {{filter}}
      <div class="panel panel-default" ng-show="filter">
        <div class="panel-heading" style="background-color: {{bgColor[buildingId]}}" >
          <h3 class="panel-title">Informations pour {{buildingsById[buildingId].name}}</h3>
        </div>
        <div class="panel-body">
          <table class="room">
            <tr>
              <th>Nombres de piéces</th>
              <td>{{filter[buildingId].count}}</td>
            </tr>
            <tr>
              <th>Surface occupée</th>
              <td>{{filter[buildingId].areaSum}} m²</td>
            </tr>
            <tr ng-if="filter[buildingId].nbPeople > 0">
              <th>Nombre de personnes</th>
              <td>{{filter[buildingId].nbPeople}}</td>
            </tr>
            <tr ng-if="filter[buildingId].ratio > 0">
              <th>Ratio affectations</th>
              <td>{{filter[buildingId].ratio}} personnes / m²</td>
            </tr>
            <tr ng-if="filter[buildingId].ratio > 0">
              <th>Présence sur nombre d'étages</th>
              <td>{{floorsByBuildingId[buildingId].length}}</td>
            </tr>
          </table>
        </div>
      </div>
      <%=  render '/floors/filters' %>
      <%=  render '/floors/display_text' %>
      <div id="loading" ng-if="floors.length === 0">Chargement des plans des étages...</div>
      <%=  render '/floors/map_editor' %>
      <hr>
    </div>
  </div>
  <%=  render '/floors/room' %>
</div>
