<script>
 var G_Organization = <%=@G_Organization.html_safe%>
 console.log(G_Organization);
</script>
<div ng-controller="OrganizationCtrl">
<h1>{{o.name}}</h1>


<div ng-if="o.organizations.length > 0">
<!-- Organizations -->
<ul>
  <li ng-repeat="org in o.organizations"><a href="{{o.url}}">{{o.name}}</a></li>
</ul>
</div>
  <%=  render '/floors/filters' %> 
  <%=  render '/floors/map_editor' %> 



</div>

