<li><a data-building-id="{{buildingId}}" href="#tab-filters-{{buildingId}}" data-toggle="tab" tab-header>Filtres</a></li>
<li><a data-building-id="{{buildingId}}" data-type="charts" href="#tab-charts-{{buildingId}}" data-toggle="tab" tab-header>Rapports</a></li>
<li><a data-building-id="{{buildingId}}" href="#tab-display-text-{{buildingId}}" data-toggle="tab" tab-header>Afficher dans les pièces</a></li>
