<div id="tab-filters-{{buildingId}}" class="tab-pane">
  <%= render '/floors/filters' %>
</div>
<div id="tab-charts-{{buildingId}}"  class="tab-pane">
  <%= render '/floors/charts' %>
</div>
<div id="tab-display-text-{{buildingId}}" class="tab-pane">
  <%= render '/floors/display_text' %>
</div>
