<!DOCTYPE html>
<html id="ng-app" ng-app="GeoP">
<head>
  <title>GeoP</title>
  <script type="text/javascript" src="http://snapsvg.io/assets/js/snap.svg-min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular-animate.js"></script>
  <script type="text/javascript" src="http://nervgh.github.io/pages/angular-file-upload/angular-file-upload.js"></script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="GeoPCtrl">

<%= yield %>

</body>
</html>
